doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset='utf-8')

        link(rel="shortcut icon" href="#")
        link(rel='stylesheet', type='text/css', href='../css/main.css')
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
        script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
        script(src='../js/main.js')
        title kmer2vec | Sigma70 promoter sequence

    body
        h1.mb-0.text-center.mt-4.main-header kmer2vec algorithm on Sigma70s' promoter sequence
        .space
        div.container.mt-3
            form.form-inline.justify-content-center
                button#view-btn(type='button', class="form-control mb-2 mr-sm-2 mb-sm-0 btn", onclick='viewBtn();') Table View
                button#operations-btn(type='button', class="form-control mb-2 mr-sm-2 mb-sm-0 btn", onclick='operationsBtn();') Operations
        .space
        div(id="table-wrapper")
            .container.scrollbar
                table#sequencesTable(class="table table-bordered table-striped mb-0")
        .chart-container(id="chart-div")
            canvas#chart
        .space
        .space