doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset='utf-8')

        link(rel="shortcut icon" href="#")
        link(rel='stylesheet', type='text/css', href='/css/main.css')
        script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
        script(src='/js/main.js')
        title main | kmer2vec

    body
        .space
        h1.main-header kmer2vec algorithm on Sigma70s' promoter sequence
        .space
        div.buttons
            form
                button#view-btn(type='button', onclick='viewBtn();') Table View
                a
                    button#operations-btn(type='button') Operations
        .smallspace
        div.search-box
            input#search-box(size='50', type='text', name='search', placeholder='Sequence id' onkeyup="onTyping(event);")
            button#add-btn(type='button', onclick='addSequence();') Add
            button#clear-btn(type='button', onclick='clearSearch();') Clear
        .space
        div.addedSequences
        .space
        div(id="table-wrapper", onscroll="onScrollingSequencesTable()")
            table#sequencesTable
        .chart-container(id="chart-div")
            canvas#chart
        .space
        .space