doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset='utf-8')

        link(rel="shortcut icon" href="#")
        link(rel='stylesheet', type='text/css', href='../css/main.css')
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
        script(src='../js/main.js')
        title word2vec | Sigma70 promoter sequence

    body
        h1.mb-0.text-center.mt-4.main-header word2vec algorithm on Sigma70s' promoter sequence