doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset='utf-8')

        link(rel="shortcut icon" href="#")
        link(rel='stylesheet', type='text/css', href='../css/main.css')
        script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
        script(src='../js/main.js')
        title kmer2vec | Sigma70 promoter sequence

    body
        .space
        h1.main-header kmer2vec algorithm on Sigma70s' promoter sequence
        .space
        div.buttons
            form
                button#view-btn(type='button', onclick='viewBtn();') Table View
                button#operations-btn(type='button', onclick='operationsBtn();') Operations
        .space
        div(id="table-wrapper")
            .container.scrollbar
                table#sequencesTable
        .chart-container(id="chart-div")
            canvas#chart
        .space
        .space