doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset='utf-8')

        link(rel="shortcut icon" href="#")
        link(rel='stylesheet', type='text/css', href='/css/operations.css')
        script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
        script(src='/js/operations.js')
        title operations | kmer2vec

    body
        .space
        h1.main-header operations
        form
            a(href="/")
                button#back-btn(class="buttons", type="button") Back