doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset='utf-8')

        link(rel="shortcut icon" href="#")
        link(rel='stylesheet', type='text/css', href='/css/operations.css')
        link(rel='stylesheet', type='text/css', href='/autocomplete/auto-complete.css')
        script(src='/autocomplete/auto-complete.min.js')
        script(src="https://unpkg.com/ml5@0.3.1/dist/ml5.min.js")
        script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
        script(type="text/javascript", defer src='/js/operations.js')
        title operations | word2vec

    body
        .space
        h1.main-header operations
        .space
        select#api-menu(onchange='onFlipAPI(event);')
            option(value='seq2vec', selected="selected") doc2vec model
            option(value='kmer2vec') word2vec model
        .smallspace
        form
            div.main-btns
                a(href="/")
                    button#back-btn(type="button") Back
                button#clear-btn(type='button', onclick='clearOperations();') Clear
            .smallspace
            div.search-form
                input#search-input(size='50', type='text', name='search', placeholder='Sequence id')
                select#select-menu(onchange="operationChanged(event);")
                    option(value='cos', selected="selected") cosine similarity
                    option(value='between') between
                    option(value='isto') is to
                button#search-btn(type="button" onclick="fetchResult();") Seearch
                .space
                .space
            div#operations
                input#op_input1(size='50', type='text', name='search', placeholder='Sequence id')
                div#op_type1 + 
                input#op_input2(size='50', type='text', name='search', placeholder='Sequence id')
                div#op_type2 - 
                input#op_input3(size='50', type='text', name='search', placeholder='Sequence id')
                div
                    button#result-btn(type="button" onclick="getResult();") Result 
                .space
                div#result
        div.chart-container(id="chart-div")
            canvas#chart1
            canvas#chart2