doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset='utf-8')

        link(rel="shortcut icon" href="#")
        link(rel='stylesheet', type='text/css', href='/css/operations.css')
        link(rel='stylesheet', type='text/css', href='/autocomplete/auto-complete.css')
        script(src='/autocomplete/auto-complete.min.js')
        script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
        script(src='/js/operations.js')
        title operations | kmer2vec

    body
        .space
        h1.main-header operations
        form
            div.main-btns
                a(href="/")
                    button#back-btn(type="button") Back
                button#clear-btn(type='button', onclick='clearOperations();') Clear
            .space
            div.search-form
                input#search-input(size='50', type='text', name='search', placeholder='Sequence id' onkeyup="onTyping(event);")
                select#select-menu
                    option(value='nearest', selected="selected") nearest
                    option(value='furthest') furthest
                    option(value='add') add
                    option(value='subtract') subtract
                    option(value='multiply') multiply
                    option(value='divide') divide
                button#search-btn(type="button" onclick="fetchResult();") Seearch
                .space
        .chart-container(id="chart-div")
            canvas#chart