h1 {
    color: #2561a1;
    text-align: center;
}

form {
    display: inline-block;
}

.buttons, #api-menu { 
    text-align: center;
}

#search-box, .addedSequence {
    background: #eee;
    border-radius: 5px 5px 5px 5px;
    border: 0 none;
    height: 32px;
    padding-left: 10px;
}

.addedSeq {
    border: 1px;
    border-style: solid;
    color: #77797a;
    border-color: #b4b7b9;
    border-radius: 5px 5px 5px 5px;
    padding: 7px 0px 7px 0px;
    width: 480px;
    margin: 0 auto;
    margin-top: 7px;
    cursor: pointer;
}

.addedSeq:hover {
    color: #962814;
    border-color: #962814;
}

.search-box, .addedSequences {
    text-align: center;
}

#view-btn, #operations-btn, #clear-btn, #add-btn, #api-menu {
    background: #2565c5;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border: 0 none;
    width: 90px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
}

#api-menu {
    width: 190px;
    display: block;
    margin: auto;
}

#clear-btn, #add-btn {
    width: 60px;
    margin-right: 0px
}

#view-btn:hover,#operations-btn:hover, #clear-btn:hover, #add-btn:hover {
    background: #449fdb;
}

.chart-container {
    margin: auto;
    width: 90%;
    height: 90%;
}

.space {
    padding: 0.5cm;
}

.smallspace {
    padding: 0.2cm;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    height: auto;
}

td {
    white-space: pre;
    border: 1px solid rgb(211, 209, 209);
    padding: 8px;
    max-width:1px;
}

.sequence {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all; 
    overflow-wrap: break-word;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.scrollbar {
    position: relative;
    height: 0px;
    overflow: auto;
}

#table-wrapper {
    display: block;
    height: auto;
    overflow: auto;
}

@media only screen and (max-width: 600px) {
    .chart-container {
        margin: auto;
        width: 100%;
        height: 90%;
    }
    table {
        width: 98%;
    }
    #search-box {
        width: 270px;
    }
    .addedSeq {
        width: 400px;
    }
}

@media only screen and (max-width: 452px) {
    #clear-btn, #add-btn {
        margin-top: 10px;
        width: 280px;
    }
    .addedSeq {
        width: 270px;
    }
}