h1 {
    color: #2561a1;
    text-align: center;
}

form {
    text-align: center;
}

#back-btn, #select-menu, #clear-btn, #search-btn, #result-btn {
    background: #2565c5;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border: 0 none;
    width: 90px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
}

#select-menu {
    width: 120px;
}

#back-btn:hover, #select-menu:hover, #clear-btn:hover, #search-btn:hover, #result-btn:hover {
    background: #449fdb;
}

#search-input, #op_input1, #op_input2, #op_input3 {
    background: #eee;
    border-radius: 5px 5px 5px 5px;
    border: 0 none;
    height: 32px;
    padding-left: 10px;
}

#op_type1, #op_type2, #op_type3 {
    color: #2565c5;
}

#op_input1, #op_input2, #op_input3, #op_type1, #op_type2 {
    margin: 0 10px 0 10px;
    width: 250px;
}

.search-box {
    text-align: center;
}

#operations  {
    display: none;
}

#operations > * {
    margin: 5px 5px 5px 5px;
}

.chart-container {
    margin: 0% 15% 0% 15%;
}

.space {
    padding: 0.5cm;
}

.smallspace {
    padding: 0.2cm;
}

#result {
    padding: 5px;
    color: #2565c5;
}

@media only screen and (max-width: 500px) {
    #back-btn, #clear-btn, #search-input, #select-menu, #search-btn {
        margin-top: 10px;
        width: 290px;
    }
    #search-input {
        margin-top: 5px;
        width: 280px;
    }
}

#result-btn {
    margin: 10px 0 0 0 ;
}

#operations div {
    display: table;
    margin: 0 auto;
}

@media only screen and (max-width: 1100px) {
    .chart-container {
        margin: 0;
    }
}