h1 {
    color: #2561a1;
    text-align: center;
}

form {
    text-align: center;
}

#back-btn, #select-menu, #clear-btn, #search-btn {
    background: #2565c5;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border: 0 none;
    width: 90px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
}

#select-menu {
    width: 100px;
}

#back-btn:hover, #select-menu:hover, #clear-btn:hover, #search-btn:hover {
    background: #449fdb;
}

#search-input, .addedSequence {
    background: #eee;
    border-radius: 5px 5px 5px 5px;
    border: 0 none;
    height: 32px;
    padding-left: 10px;
}

.addedSeq {
    border: 1px;
    border-style: solid;
    color: #77797a;
    border-color: #b4b7b9;
    border-radius: 5px 5px 5px 5px;
    padding: 7px 0px 7px 0px;
    width: 480px;
    margin: 0 auto;
    margin-top: 7px;
    cursor: pointer;
}

.addedSeq:hover {
    color: #962814;
    border-color: #962814;
}

.search-box, .addedSequences {
    text-align: center;
}

.chart-container {
    margin: auto;
    width: 90%;
    height: 90%;
}

.space {
    padding: 0.5cm;
}

.smallspace {
    padding: 0.2cm;
}

@media only screen and (max-width: 500px) {
    #back-btn, #clear-btn, #search-input, #select-menu, #search-btn {
        margin-top: 10px;
        width: 290px;
    }
    #search-input {
        margin-top: 5px;
        width: 280px;
    }
}